.projects-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem 1rem 10rem 1rem;
    margin: 3rem;
}


@media screen and (max-width: 1150px) {
    .projects-list {
        flex-direction: column;
    }
}


@media screen and (max-width: 500px) {
    .projects-list {
        margin-top: 8rem;
    }
}
