.projectcard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 20vw;
    height: 60vh;
    box-shadow: 5px 10px 20px #acacac;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;;

    .projectcard__h1-container {
        h1 {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .tech-tags {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: .8rem;

        .tech-tags-p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            width: 5rem;
            background-color: var(--color-theme-grey-green);
            border-radius: 10px;
            margin-right: .5rem;
            margin-bottom: .5rem;
            height: .8rem !important;
            padding: .3rem;
        }
    }

    .project-img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        max-width: 100%;
        max-height: 40%;
    }

    .ctas-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    button {
        background-color: #449D4A;
        border-radius: 20px;
        padding: .6rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .9rem;
        font-weight: bolder;
        width: 4rem;
        cursor: pointer;
    }
}

.projectcard-container:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 1460px) {
    .projectcard-container {
      
       .tech-tags {
        height: 5rem;
        font-size: .7rem;

            .tech-tags-p {
                width: 4rem;
                height: 1.3rem;
            }
        }

    }
}


@media screen and (max-width: 1300px) {
    .projectcard-container {
        max-width: 20vw;

        h1 {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .project-description-p {
            font-size: .8rem;
            font-weight: bold;
        }

        img {
            max-width: 100%;
        }

        button {
            padding: .4rem 1rem;
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 1160px) {
    .projectcard-container {
        max-width: 30vw;
    }

    button {
        padding: .3rem .8rem;
        font-size: .7rem;
        width: 5rem;
    }

    img {
        padding: 1rem;
    }

    .ctas-container {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1030px) {
    .projectcard-container {
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 1030px) {
    .projectcard-container {
      margin-bottom: 3rem;
    }

    .ctas-container {
        max-width: 70%;
    }
}

@media screen and (max-width: 1005px) and (min-width: 580px) {
    .projectcard-container {
      max-width: 40vw;
      max-height: 45vh;
      padding-right: 4rem;
    }

    .btn-link-overlay {
        width: 3rem;
    }

    .ctas-container button {
        width: 2.5rem !important;
        font-size: .6rem !important;
    }

    .project-img-wrapper img {
        max-width: 90%;
        max-height: 100%;
    }

}

@media screen and (max-width: 580px) {
    .projectcard-container {
      max-width: 100vw;
      max-height: 50vh;
    }

    .project-img-wrapper img {
        max-width: 90%;
        max-height: 100%;
    }

}

@media screen and (max-width: 465px) {
    .projectcard-container {
        min-height: 60vh;
        margin-bottom: 5rem;
        border-radius: 0px;
      
       .tech-tags {
            height: 5rem;

            .tech-tags-p {
                width: 3.6rem;
                height: 1rem;
                font-size: 11px;
            }
        }

    }

    .ctas-container {
        max-width: 100vw;
    }
}
