.projectcard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 20vw;
    height: 60vh;
    box-shadow: 5px 10px 20px #acacac;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;;

    h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1rem;
    }

    img {
        max-width: 90%;
        max-height: 20vh;
    }

    .ctas-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    button {
        background-color: #449D4A;
        border: none;
        border-radius: 20px;
        padding: .6rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bolder;
        width: 4rem;
        cursor: pointer;
    }
}

.projectcard-container:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
    .projectcard-container {
        max-width: 20vw;

        h1 {
            font-size: 1.3rem;
            font-weight: bold;
        }

        h2 {
            font-size: .8rem;
            font-weight: bold;
        }

        p {
            font-size: .8rem;
            font-weight: bold;
        }

        img {
            max-width: 100%;
        }

        button {
            padding: .4rem 1rem;
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 1160px) {
    .projectcard-container {
        max-width: 30vw;
    }

    button {
        padding: .3rem .8rem;
        font-size: .7rem;
        width: 5rem;
    }

    img {
        padding: 1rem;
    }

    .ctas-container {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1030px) {
    .projectcard-container {
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 1030px) {
    .projectcard-container {
      margin-bottom: 3rem;
    }

    .ctas-container {
        max-width: 70%;
    }
}

@media screen and (max-width: 1005px) and (min-width: 580px) {
    .projectcard-container {
      max-width: 40vw;
      max-height: 45vh;
      padding-right: 4rem;
    }

    .btn-link-overlay {
        width: 3rem;
    }

    .ctas-container button {
        width: 2.5rem !important;
        font-size: .6rem !important;
    }

}

@media screen and (max-width: 580px) {
    .projectcard-container {
      max-width: 100vw;
      max-height: 50vh;
    }

}

@media screen and (max-width: 465px) {
    .ctas-container {
        max-width: 100vw;
    }
}
