.skills-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35vw;
    min-height: 40vh;
    border-radius: 3px;
    position: relative;

    h2 {
        font-size: large;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        line-height: 1.7rem;
    }
}

.skills-text, .skills-img {
    position: relative;
}

.skills-text {
    flex-direction: column;
    align-items: flex-start;
    display: none;
}

.skills-card-container:hover {
    background-color: #E9ECEA;

    .skills-text {
        display: flex;
        opacity: 1;
    }

    .skills-img {
        display: none;
    }

}


@media screen and (min-width: 1275px) {

    .skills-card-container {
        min-width: 25vw;
    }
}

@media screen and (max-width: 800px) {

    .skills-card-container {
        width: 100vw;
        margin-top: 10rem;
    }

    .skills-img {
        display: none;
    }

    .skills-text {
        display: flex;
    }


}

@media screen and (max-width: 500px) {

    .skills-card-container {
        margin-top: 0rem;
    }

    .right-container {
        margin-bottom: 0rem;
    }

}
