@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --color-bg: #011F26;
  --color-footer : #025959;
  --color-blog: #05A6A6;
  --color-text: #33d8c7;
  --color-subtext: #03d6c1;
}