@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root {
  --font-family: 'Montserrat', sans-serif;

  --color-footer : #D7D9D7;
  --color-text: #000000;
  --color-subtext: #3d3d3d;
}