.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
}

.header-img {

    img {
        display: flex;
        height: 35rem;
    }

}

@media screen and (max-width: 1075px) {
    .header-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {
    .header-cta-card {
        max-width: 100vw;
    }

    .header-img {
        display: none;
    }
}


