.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 6rem;
}

.header-img {

    img {
        min-width: 40rem;
        height: 35rem;
    }

}

@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 690px) {

}

@media screen and (max-width: 600px) {

}

